<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="1rem"
  fxFlex="grow"
>
  <mat-card class="card" *ngFor="let book of books">
    <mat-card-title-group>
      <mat-card-title
        (click)="wishListChange.emit(book)"
        matTooltip="Add To Wishlist"
      >
        {{ book.name }}
      </mat-card-title>
      <mat-card-subtitle>{{ book.publisher }}</mat-card-subtitle>
      <img
        mat-card-image
        src="{{ book.imgUrl }}"
        alt="book image link"
        class="card-image"
      />
    </mat-card-title-group>
    <mat-card-content>
      <p class="truncate">{{ book.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
