<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="1rem"
  fxFlex="grow"
>
  <!-- <mat-card class="card" *ngFor="let book of bookstest"> -->
  <mat-card class="card" *ngFor="let book of books$ | async">
    <mat-card-title-group>
      <mat-card-title
        (click)="addToWishList(book.id)"
        matTooltip="Add To Wishlist"
      >
        {{ book.name }}
      </mat-card-title>
      <mat-card-subtitle>{{ book.publisher }}</mat-card-subtitle>
      <img
        mat-card-image
        src="{{ book.imgUrl }}"
        alt="book image link"
        class="card-image"
      />
    </mat-card-title-group>
    <mat-card-content>
      <p class="truncate">{{ book.description }}</p>
    </mat-card-content>

    <!-- <li *ngFor="let book of books" (click)="addToWishList(book.id)"> -->
  </mat-card>
</div>
