:host {
  display: block;
  height: 100%;
  // min-height: 0;
  // overflow-y: auto;
}

.card-image {
  // source dimensions
  max-width: 128px;
  max-height: 169px;
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

mat-card-title {
  cursor: pointer;
}
